In [1]:
from ipfn import ipfn;
import pandas as pd;
import numpy as np;

In [2]:
m      = np.array([1., 2., 1., 3., 5., 5., 6., 2., 2., 1., 7., 2.,
               5., 4., 2., 5., 5., 5., 3., 8., 7., 2., 7., 6.], )

In [3]:
dma_l  = [501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501,
          502, 502, 502, 502, 502, 502, 502, 502, 502, 502, 502, 502]

size_l = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4,
          1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

age_l  = ['20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45',
          '20-25','30-35','40-45']

df = pd.DataFrame()
df['dma'] = dma_l
df['size'] = size_l
df['age'] = age_l
df['total'] = m

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dma     24 non-null     int64
 1   size    24 non-null     int64
 2   age     24 non-null     object
 3   total   24 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 896.0+ bytes

In [4]:
df.shape

(24, 4)

In [5]:
df.head()

   dma  size    age  total
0  501     1  20-25    1.0
1  501     1  30-35    2.0
2  501     1  40-45    1.0
3  501     2  20-25    3.0
4  501     2  30-35    5.0

In [6]:
xipp = df.groupby('dma')['total'].sum()

In [7]:
xipp

dma
501    37.0
502    59.0
Name: total, dtype: float64

In [8]:
xpjp = df.groupby('size')['total'].sum()
xppk = df.groupby('age')['total'].sum()
xijp = df.groupby(['dma', 'size'])['total'].sum()
xpjk = df.groupby(['size', 'age'])['total'].sum()

xpjp

size
1    15.0
2    28.0
3    28.0
4    25.0
Name: total, dtype: float64

In [9]:
xijp

dma  size
501  1        4.0
     2       13.0
     3       10.0
     4       10.0
502  1       11.0
     2       15.0
     3       18.0
     4       15.0
Name: total, dtype: float64

In [10]:
xipp.loc[501] = 52
xipp.loc[502] = 48

xppk

age
20-25    26.0
30-35    40.0
40-45    30.0
Name: total, dtype: float64

In [11]:
xpjp.loc[1] = 20
xpjp.loc[2] = 30
xpjp.loc[3] = 35
xpjp.loc[4] = 15

xppk.loc['20-25'] = 35
xppk.loc['30-35'] = 40
xppk.loc['40-45'] = 25

xijp.loc[501] = [9, 17, 19, 7]
xijp.loc[502] = [11, 13, 16, 8]

xpjk.loc[1] = [7, 9, 4]
xpjk.loc[2] = [8, 12, 10]
xpjk.loc[3] = [15, 12, 8]
xpjk.loc[4] = [5, 7, 3]

In [12]:
aggregates = [xipp, xpjp, xppk, xijp, xpjk]
dimensions = [['dma'], ['size'], ['age'], ['dma', 'size'], ['size', 'age']]

In [13]:
IPF = ipfn.ipfn(df, aggregates, dimensions)

In [15]:
print(df)
print(df.groupby('size')['total'].sum(), xpjp)


df = IPF.iteration()
print(df)
print(df.groupby('size')['total'].sum(), xpjp)

    dma  size    age  total
0   501     1  20-25    1.0
1   501     1  30-35    2.0
2   501     1  40-45    1.0
3   501     2  20-25    3.0
4   501     2  30-35    5.0
5   501     2  40-45    5.0
6   501     3  20-25    6.0
7   501     3  30-35    2.0
8   501     3  40-45    2.0
9   501     4  20-25    1.0
10  501     4  30-35    7.0
11  501     4  40-45    2.0
12  502     1  20-25    5.0
13  502     1  30-35    4.0
14  502     1  40-45    2.0
15  502     2  20-25    5.0
16  502     2  30-35    5.0
17  502     2  40-45    5.0
18  502     3  20-25    3.0
19  502     3  30-35    8.0
20  502     3  40-45    7.0
21  502     4  20-25    2.0
22  502     4  30-35    7.0
23  502     4  40-45    6.0
size
1    15.0
2    28.0
3    28.0
4    25.0
Name: total, dtype: float64 size
1    20.0
2    30.0
3    35.0
4    15.0
Name: total, dtype: float64
    size    age  dma      total
0      1  20-25  501   2.155122
1      1  20-25  502   4.844878
2      1  30-35  501   4.738761
3      1  30-35  502   4.261239
4      1  40-45  501   2.106116
5      1  40-45  502   1.893884
6      2  20-25  501   3.792360
7      2  20-25  502   4.207640
8      2  30-35  501   7.204167
9      2  30-35  502   4.795833
10     2  40-45  501   6.003472
11     2  40-45  502   3.996528
12     3  20-25  501  12.031393
13     3  20-25  502   2.968607
14     3  30-35  501   4.035095
15     3  30-35  502   7.964905
16     3  40-45  501   2.933445
17     3  40-45  502   5.066555
18     4  20-25  501   2.026015
19     4  20-25  502   2.973985
20     4  30-35  501   4.037026
21     4  30-35  502   2.962974
22     4  40-45  501   0.936959
23     4  40-45  502   2.063041
size
1    20.0
2    30.0
3    35.0
4    15.0
Name: total, dtype: float64 size
1    20.0
2    30.0
3    35.0
4    15.0
Name: total, dtype: float64